*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #011C40;
    color: #f9f9f9;
    font-family: "Montserrat";
    font-weight: 600;
}

.logo {
    width: 78px;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 29px 0 0;
}

.nav-menu button {
    background: none;
    border: none;
    cursor: pointer;
}

i {
    font-size: 22px;
}

ul {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 30px;
}

h1 {
    font-size: 24px;
    font-weight: 500;
    color: #4BF2E2;
    font-family: "Zen Dots";
    margin-bottom: 50px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

section {
    margin-bottom: 50px;
}

#home p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: left;
}

.table-home {
    width: 100%;
    border-collapse: collapse;
    background-color: #36454F;
    margin-top: 20px;
}

.table-home th, .table-home td {
    border: 3px solid #F92FA5; 
    padding: 20px;
}

.table-home th {
    width: 25%;
    text-align: left;
    font-size: 1.1rem;
    font-weight: bold;
    color: #AEFF00;
}

.table-home td {
    font-size: 1.0rem;
    text-align: left;
}

h2 {
    text-align: center;
    color: #F92FA5;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

form {
    border: 3px solid #AEFF00;
    background: #36454F;
    box-shadow: -5px -5px 20px 0 rgba(174, 255, 0, 0.63), 5px 5px 20px 0 rgba(174, 255, 0, 0.63);
    display: flex;
    margin: 31px 0;
    width: auto;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    gap: 15px;
    padding: 20px;
}

input {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #F9F9F9;
}

#inscricao button {
    border-radius: 13px;
    background: linear-gradient(93deg, #4BF2E2 18.92%, #7BF375 100.97%);
    width: 159px;
    height: 51px;
    padding: 10px;
    color: #F92FA5;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.34);
    font-size: 20px;
    font-weight: 700;
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: left;
    width: 61%;
}

#sobre h2 {
    text-align: left;
}

#palestrantes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#palestrantes h2 {
    text-align: right;
}

article {
    display: flex;
    padding: 14px 22px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 30px;
    border: 2px solid #AEFF00;
}

h3 {
    font-size: 15px;
    font-weight: 700;
}

.card-container p {
    color: #CECECE;
    font-size: 12px;
    font-weight: 400;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#programacao {
    margin-top: 40px;
}

#programacao table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#programacao th, #programacao td {
    border: 2px solid #4BF2E2;
    padding: 12px;
    text-align: left;
}

#programacao thead {
    background-color: #1A1A1A;
}

#programacao tbody {
    background-color: #36454F;
}

footer {
    text-align: center;
    font-size: 14px;
    margin-top: 20px;
    height: 40px;
}